doctype html
html(lang="en")
  head
    title Shopping List
    meta(charset="UTF-8")
    //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet")
  body 
    header 
      h1 Shopping List 
      block headerLinks

    main 
      block main